body { background-color:#2c3838;}
    h1{color:#637a97;
        background-color: aliceblue;
        font-family: impact,charcoal,sans-serif;
        width: 100%;
        padding-left: 50%;
        padding-right: 50%;
    }
    body{
        p{color:aliceblue}
        h2{color: antiquewhite;
        font-size:2em ;}
    }
    
