body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3660A5;
    line-height: 30px;
}
header{
    text-align: center;
}
h1{
    text-align: center;        
    color: #BB5397;
    font-size: 3em;
    letter-spacing: 20px;
    font-weight: lighter;
    line-height: 1.5;
    }
    
h2{
    color: #BB5397;
    letter-spacing: 10px;
}

img{
    margin: 15px;
}